@import "../../styles/variables";

header {
  margin-bottom: 50px;
  .top-bar {
    background: $white !important;
    padding: 20px;
    box-shadow: 0 4px 6px -6px #999;
    .brand{
      font-size: 24px;
      text-decoration: none;
      color: $black;
    }
  }
}
